$textdark: rgba(64, 63, 61, 1);
$textlight: rgba(225, 212, 201, 1);
$textaccent: rgba(176, 144, 122, 1);
$backgroundbody: rgba(225, 212, 201, 1);
$backgroundcontainer: rgba(102, 95, 85, 1);
$backgroundbackdrop: rgba(64, 63, 61, 0.8);
$borderlight: rgba(193, 182, 173, 1);
$borderdark: rgba(102, 95, 85, 1);
$desktop-heading-heading-1-font-family: "Inter", Helvetica;
$desktop-heading-heading-1-font-weight: 600;
$desktop-heading-heading-1-font-size: 72px;
$desktop-heading-heading-1-letter-spacing: 0px;
$desktop-heading-heading-1-line-height: 105%;
$desktop-heading-heading-1-font-style: normal;
$desktop-heading-heading-1-accent-font-family: "Inter", Helvetica;
$desktop-heading-heading-1-accent-font-weight: 600;
$desktop-heading-heading-1-accent-font-size: 72px;
$desktop-heading-heading-1-accent-letter-spacing: 0px;
$desktop-heading-heading-1-accent-line-height: 105%;
$desktop-heading-heading-1-accent-font-style: italic;
$desktop-heading-heading-2-font-family: "Inter", Helvetica;
$desktop-heading-heading-2-font-weight: 600;
$desktop-heading-heading-2-font-size: 60px;
$desktop-heading-heading-2-letter-spacing: 0px;
$desktop-heading-heading-2-line-height: 125%;
$desktop-heading-heading-2-font-style: normal;
$desktop-heading-heading-2-accent-font-family: "Inter", Helvetica;
$desktop-heading-heading-2-accent-font-weight: 600;
$desktop-heading-heading-2-accent-font-size: 60px;
$desktop-heading-heading-2-accent-letter-spacing: 0px;
$desktop-heading-heading-2-accent-line-height: 125%;
$desktop-heading-heading-2-accent-font-style: italic;
$desktop-heading-heading-3-font-family: "Inter", Helvetica;
$desktop-heading-heading-3-font-weight: 600;
$desktop-heading-heading-3-font-size: 24px;
$desktop-heading-heading-3-letter-spacing: 0px;
$desktop-heading-heading-3-line-height: 125%;
$desktop-heading-heading-3-font-style: normal;
$desktop-body-medium-font-family: "Inter", Helvetica;
$desktop-body-medium-font-weight: 400;
$desktop-body-medium-font-size: 16px;
$desktop-body-medium-letter-spacing: 0px;
$desktop-body-medium-line-height: 150%;
$desktop-body-medium-font-style: normal;
$desktop-body-caption-font-family: "Inter", Helvetica;
$desktop-body-caption-font-weight: 600;
$desktop-body-caption-font-size: 10px;
$desktop-body-caption-letter-spacing: 0px;
$desktop-body-caption-line-height: 140%;
$desktop-body-caption-font-style: normal;
$desktop-action-link-button-font-family: "Inter", Helvetica;
$desktop-action-link-button-font-weight: 600;
$desktop-action-link-button-font-size: 16px;
$desktop-action-link-button-letter-spacing: 0px;
$desktop-action-link-button-line-height: 150%;
$desktop-action-link-button-font-style: normal;
$desktop-action-burger-link-font-family: "Inter", Helvetica;
$desktop-action-burger-link-font-weight: 600;
$desktop-action-burger-link-font-size: 32px;
$desktop-action-burger-link-letter-spacing: 0px;
$desktop-action-burger-link-line-height: 125%;
$desktop-action-burger-link-font-style: normal;
$mobile-heading-heading-1-font-family: "Inter", Helvetica;
$mobile-heading-heading-1-font-weight: 600;
$mobile-heading-heading-1-font-size: 42px;
$mobile-heading-heading-1-letter-spacing: 0px;
$mobile-heading-heading-1-line-height: 115%;
$mobile-heading-heading-1-font-style: normal;
$mobile-heading-heading-1-accent-font-family: "Inter", Helvetica;
$mobile-heading-heading-1-accent-font-weight: 600;
$mobile-heading-heading-1-accent-font-size: 42px;
$mobile-heading-heading-1-accent-letter-spacing: 0px;
$mobile-heading-heading-1-accent-line-height: 115%;
$mobile-heading-heading-1-accent-font-style: italic;
$mobile-heading-heading-2-font-family: "Inter", Helvetica;
$mobile-heading-heading-2-font-weight: 600;
$mobile-heading-heading-2-font-size: 32px;
$mobile-heading-heading-2-letter-spacing: 0px;
$mobile-heading-heading-2-line-height: 125%;
$mobile-heading-heading-2-font-style: normal;
$mobile-heading-heading-2-accent-font-family: "Inter", Helvetica;
$mobile-heading-heading-2-accent-font-weight: 600;
$mobile-heading-heading-2-accent-font-size: 32px;
$mobile-heading-heading-2-accent-letter-spacing: 0px;
$mobile-heading-heading-2-accent-line-height: 125%;
$mobile-heading-heading-2-accent-font-style: italic;
