@use 'card'
@use 'styleFont' as font

$breakpoints: (
  'mobile': (max-width: 380px),
  'tablet': (max-width: 768px),
  'desktop': (max-width: 1440px),
);

$gap: 40px

@mixin respond-to($breakpoint)
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query 
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query}
      @content;
    
  @else
    @error 'Не указано значение для `#{$breakpoint}`.'

@mixin font-desktop-h1($font-style, $color)
  font-family: font.$desktop-heading-heading-1-font-family
  font-weight: font.$desktop-heading-heading-1-font-weight
  font-size: font.$desktop-heading-heading-1-font-size
  letter-spacing: font.$desktop-heading-heading-1-letter-spacing
  line-height: font.$desktop-heading-heading-1-line-height
  font-style: $font-style
  color: $color


@mixin font-mobile-h1($font-style, $color)
  font-family: font.$mobile-heading-heading-1-font-family
  font-weight: font.$mobile-heading-heading-1-font-weight
  font-size: font.$mobile-heading-heading-1-font-size
  letter-spacing: font.$mobile-heading-heading-1-letter-spacing
  line-height: font.$mobile-heading-heading-1-line-height
  font-style: $font-style
  color: $color


@mixin font-desktop-h2($font-style, $color, $accent-color, $accent-font-style)
  font-family: font.$desktop-heading-heading-2-font-family
  font-weight: font.$desktop-heading-heading-2-font-weight
  font-size: font.$desktop-heading-heading-2-font-size
  letter-spacing: font.$desktop-heading-heading-2-letter-spacing
  line-height: font.$desktop-heading-heading-2-line-height
  font-style: $font-style
  color: $color
  .text-accent
    color: $accent-color
    font-style: $accent-font-style

@mixin font-mobile-h2($font-style, $color, $accent-color, $accent-font-style)
  font-family: font.$mobile-heading-heading-2-font-family
  font-weight: font.$mobile-heading-heading-2-font-weight
  font-size: font.$mobile-heading-heading-2-font-size
  letter-spacing: font.$mobile-heading-heading-2-letter-spacing
  line-height: font.$mobile-heading-heading-2-line-height
  font-style: $font-style
  color: $color
  .text-accent
    color: $accent-color
    font-style: $accent-font-style

@mixin font-desktop-h3($font-style, $color)
  font-family: font.$desktop-heading-heading-3-font-family
  font-weight: font.$desktop-heading-heading-3-font-weight
  font-size: font.$desktop-heading-heading-3-font-size
  letter-spacing: font.$desktop-heading-heading-3-letter-spacing
  line-height: font.$desktop-heading-heading-3-line-height
  font-style: $font-style
  color: $color

@mixin font-action($color)
  font-family: font.$desktop-action-link-button-font-family
  font-weight: font.$desktop-action-link-button-font-weight
  font-size: font.$desktop-action-link-button-font-size
  letter-spacing: font.$desktop-action-link-button-letter-spacing
  line-height: font.$desktop-action-link-button-line-height
  font-style: normal
  color: $color  

@mixin font-action-burger($color)
  font-family: font.$desktop-action-burger-link-font-family
  font-weight: font.$desktop-action-burger-link-font-weight
  font-size: font.$desktop-action-burger-link-font-size
  letter-spacing: font.$desktop-action-burger-link-letter-spacing
  line-height: font.$desktop-action-burger-link-line-height
  font-style: normal
  color: $color  

@mixin font-body-caption($color)
  font-family: font.$desktop-body-caption-font-family
  font-weight: font.$desktop-body-caption-font-weight
  font-size: font.$desktop-body-caption-font-size
  letter-spacing: font.$desktop-body-caption-letter-spacing
  line-height: font.$desktop-body-caption-line-height
  font-style: normal
  color: $color

@mixin font-body($color)
  font-family: font.$desktop-body-medium-font-family
  font-weight: font.$desktop-body-medium-font-weight
  font-size: font.$desktop-body-medium-font-size
  letter-spacing: font.$desktop-body-medium-letter-spacing
  line-height: font.$desktop-body-medium-line-height
  font-style: normal
  color: $color

@mixin span-icon($size, $backgroung-color, $mask-url)
  width: $size
  height: $size
  mask-repeat: no-repeat
  mask-position: center
  mask-size: $size
  mask-image: $mask-url
  background-color: $backgroung-color;

@mixin button-primary($color, $icon-display, $background, $icon-opacity)
  height: 64px
  min-width: 200px
  radius: 100px
  padding: 20px 78px
  column-gap: 8px
  align-items: center
  transition: all 0.5s easy
  @include font-action($color: $color)
  &:hover
    .icon
      display: inline-block
      opacity: 1
  .cup-icon
    display: $icon-display
    width: 20px
    height: 20px
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: 20px;
    mask-image: url('../assets/icon/ic_coffee-cup.svg');
    background-color: $color;
    opacity: $icon-opacity;
    transition: opacity 0.5s easy  

h1 
  @include font-desktop-h1(font.$desktop-heading-heading-1-font-style, font.$textlight)

  @include respond-to('mobile')
    @include font-mobile-h1(font.$desktop-heading-heading-1-font-style, font.$textlight)

  @include respond-to('mobile')
    @include font-mobile-h1(font.$desktop-heading-heading-1-font-style, font.$textlight)


* 
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  margin: 0 auto
  border-radius: 100px

html
  scroll-behavior: smooth;



body
  margin: 0
  height: 100%
  background-color: font.$backgroundbody

.d-home
  display: flex
  flex-direction: column
  row-gap: 100px
  max-width: 1440px
  width: 100%
  padding: 20px 0 40px 0
  gap: 100px
  margin: 0 auto
  header, main, footer
    width: 100%
    margin: 0 auto
    padding: 0 $gap

  main
    display: flex
    flex-direction: column
    gap: 100px
    section
      width: 100%
    


button:focus-visible
  outline: 2px solid #4a90e2 

a
  text-decoration: none

li 
  list-style: none

.header-menu
  display: flex
  flex-direction: row

.nav
  flex: 1
  display: flex
  gap: $gap
  justify-content: center
  list-style: none
  a 
    @include font-action(font.$textdark)
    width: fit-content
    .cup-icon
      display: none

#enjoy
  .offer
    display: flex
    flex-direction: column
    width: 50%
    left: 0
    position: absolute
    transform: translateX(50%);
    row-gap: $gap
    & * 
      text-align: start;
      
    h1 
      @include font-desktop-h1(font.$desktop-heading-heading-1-font-style, font.$textlight, )

      @include respond-to('mobile')
        @include font-mobile-h1(font.$desktop-heading-heading-1-font-style, font.$textlight)

      @include respond-to('mobile')
        @include font-mobile-h1(font.$desktop-heading-heading-1-font-style, font.$textlight)
      
    p 
      @include font-body(font.$textlight)
    
    button
      @include button-primary(font.$textdark, none, font.$backgroundbody, 0)
     
  .video-background
    display: block
    width: 100% 
    position: relative
    object-fit: cover;

#favourites-coffee
  display: flex
  flex-direction: column
  gap: $gap

  h2
    @include font-desktop-h2(font.$desktop-heading-heading-2-accent-font-style, font.$textdark, 
    font.$textaccent, font.$desktop-heading-heading-2-accent-font-style)

    @include respond-to('mobile')
      @include font-mobile-h2(font.$mobile-heading-heading-2-accent-font-style, font.$textdark, 
      font.$textaccent, font.$desktop-heading-heading-2-accent-font-style)
  .d-slider
    display: flex
    flex-direction: row
    width: 100%
    height: 640px

    .arrow-button 
      display: inline-block
      width: 60px
      aspect-ratio: 1 / 1
      align-self: center
      border: 1px solid font.$borderdark
      background-color: font.$backgroundbody
      .icon
        display: block
        @include span-icon(24px, $backgroung-color: font.$textdark, $mask-url: url())
      &:nth-child(1)      
        .icon
          mask-image: url('../assets/icon/ic_arrow-left.svg')     
      &:nth-last-child(1)
        .icon
          mask-image: url('../assets/icon/ic_arrow-right.svg')

.slider
  display: block
  flex: 1
  height: 100%
  position: relative
  overflow-x: hidden;
  border-radius: 0
  & > *
    border-radius: 0
  .row-slider
    display: inline-flex
    width: 300%
    height: 100%
    flex-direction: row
    flex-wrap: nowrap
    position: absolute
    left: 0
    z-index: -1
    .slide
      flex: 1
      display: flex
      flex-direction: column
      gap: 20px
      align-content: center
      .description
        max-width: 480px



#about
  display: flex
  flex-direction: column
  gap: $gap
  padding: 0
  h2
    width: 101%
    @include font-desktop-h2(font.$desktop-heading-heading-2-accent-font-style, font.$textdark,
    font.$textaccent, font.$desktop-heading-heading-2-accent-font-style)

    @include respond-to('mobile')
      @include font-mobile-h2(font.$mobile-heading-heading-2-accent-font-style, font.$textdark,
      font.$textaccent, font.$desktop-heading-heading-2-accent-font-style)
    
    margin: 0
    & > *
      margin: 0

  .images
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: $gap
    width: 100%

    .column
      width: calc( 50% - 20px )
      min-width: calc( 671px / 2 - 20px)
      display: flex
      flex-direction: column
      gap: $gap
      border-radius: 0
      @include respond-to('tablet')
        width: 100%      
      &:nth-child(1) > .about-img
          &:nth-child(1)
            width: 100%
            aspect-ratio: 1 / 1
            border-radius: 20px
            background-image: url('../assets/img/about-1.svg')
            background-repeat: no-repeat
            background-size: cover
            background-position: center        
          &:nth-child(2)
            display: block
            width: 100%
            aspect-ratio: 66 / 43
            border-radius: 20px
            background-image: url('../assets/img/about-2.svg')
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            transition: opacity 0.3s easy
            opacity: 1
            @include respond-to('tablet')
              display: none
              opacity: 0  
      &:nth-child(2) > .about-img
        &:nth-child(1)
          display: block
          width: 100%
          border-radius: 20px
          aspect-ratio: 66 / 43
          background-image: url('../assets/img/about-3.svg')
          background-repeat: no-repeat;
          background-size: cover; 
          background-position: center;
          transition: opacity 0.3s easy
          opacity: 1
          @include respond-to('tablet')
            display: none
            opacity: 0          
                  
        &:nth-child(2)
          width: 100%
          aspect-ratio: 1 / 1
          border-radius: 20px
          background-image: url('../assets/img/about-4.svg')
          background-repeat: no-repeat;
          background-size: cover; 
          background-position: center;
      
      
        
        

#mobile-apps
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  gap: 100px
  .offer
    display: flex
    flex-direction: column
    width: calc(50% - 50px)
    min-width: 530px
    height: fit-content
    justify-content: start
    align-content: flex-start
    gap: $gap
    h2
      @include font-desktop-h2(font.$desktop-heading-heading-2-font-style, font.$textdark,
      font.$textaccent, font.$desktop-heading-heading-2-font-style)

      @include respond-to('mobile')
        @include font-mobile-h2(font.$mobile-heading-heading-2-font-style, font.$textdark,
        font.$textaccent, font.$desktop-heading-heading-2-font-style)
      
      margin: 0 auto 0 0
      
    p 
      @include font-body(font.$textdark)
        
    .buttons
      display: inline-flex
      flex-direction: row
      gap: $gap / 2
      margin: 0
      button
        display: flex
        flex-direction: row
        width: fit-content
        white-space: nowrap;
        border: 1px solid font.$borderdark
        gap: 8px
        padding: 12px 20px
        margin: 0
        background-color: font.$backgroundbody
        .icon 
          @include span-icon(36px , font.$textdark , url())
          border-radius: 0
        &.apple-button 
          .icon
            mask-image: url('../assets/icon/ic_apple_stor.svg')     
        &.android-button 
          .icon
           mask-image: url('../assets/icon/stor.svg')
        .text
          display: inline-flex
          flex-direction: column
         
          & > p
            display: inline-block
            white-space: nowrap
            text-align: start
            
            margin: 0
            &:nth-child(1)
              @include font-body-caption(font.$textdark)
              
            &:nth-child(2)
              @include font-action(font.$textdark)
            

     
  .mobile-screens
    display: block
    flex-wrap: wrap
    width: calc(50% - 50px)
    aspect-ratio: 1 / 1
    border-radius: 0

.footer-container
  display: inline-flex
  flex-direction: row
  width: 100%
  padding: 100px
  gap: 100px
  flex-wrap: wrap
  background-color: font.$backgroundcontainer
  border-radius: $gap
  @include respond-to('tablet' )
  padding: 100px 60px
  
  .footer-box
    display: flex
    flex-direction: column
    width: calc( 50% - 50px )
    min-width: 530px
    gap: $gap
    justify-content: start
    align-content: statr
    margin: 0
    @include respond-to('tablet')
      width: 100%

  h2 
    margin: 0
    width: 100%
    border-radius: 0
    @include font-desktop-h2(font.$desktop-heading-heading-2-accent-font-style, font.$textlight,
      font.$textaccent, font.$desktop-heading-heading-2-accent-font-style)

    @include respond-to('mobile')
      @include font-mobile-h2(font.$mobile-heading-heading-2-font-style, font.$textlight,
      font.$textaccent, font.$mobile-heading-heading-2-accent-font-style)
  h3 
    display: inline-block
    margin: 0
    @include font-desktop-h3($font-style: font.$desktop-heading-heading-3-font-style, $color: font.$textlight)
    
    
    

  .socials
    display: inline-flex
    flex-direction: row
    gap: 12px
    width: fit-content
    white-space: nowrap;
    margin: 0
    padding: 0
    li 
      display: inline-block
      height: 60px
      white-space: nowrap
      aspect-ratio: 1 / 1
      border: 1px solid font.$borderlight
      justify-content: center
      align-content: center
      a 
        display: inline-block
        width: 100%
        justify-content: center
        align-content: center
        .icon
            display: block 
            @include span-icon(24px , font.$textlight , url())
      &.twitter-link
        .icon
          mask-image: url('../assets/icon/ic_twitter.svg')     
      &.instagram-link
        .icon
          mask-image: url('../assets/icon/ic_instagram.svg')     
      &.facebook-link
        .icon
          mask-image: url('../assets/icon/ic_facebook.svg')

.contacts
  display: flex
  flex-direction: column
  gap: 16px
  margin: 0
  padding: 0
  li
    display: inline-block
    align-content: start
    margin: 0
  a
    display: inline-flex
    gap: 8px
    width: fit-content
    margin: 0
    @include font-action($color: font.$textlight)
    .icon
      @include span-icon(20px , font.$textlight , url())
    &.pin-alt
      .icon
        mask-image: url('../assets/icon/ic_pin-alt.svg')     
    &.phone
      .icon
        mask-image: url('../assets/icon/ic_phone.svg')     
    &.clock
      .icon
        mask-image: url('../assets/icon/ic_clock.svg')

  
      