<footer id="contacts" class="footer-template">
  <div class="footer-container">
    <div class="footer-box">
      <h2>
        <span>Sip, Savor, Smile. </span>
        <span class="text-accent">It’s coffee time!</span>
      </h2>
      <ul class="socials">
        <li class="twitter-link">
          <a href=""><span class="icon"></span></a>
        </li>              
        <li class="instagram-link">
          <a href=""><span class="icon"></span></a>
        </li>
        <li class="facebook-link">
          <a href=""><span class="icon"></span></a>
        </li>              
      </ul>
    </div>
    <div class="footer-box">
      <h3>Contact us</h3>
      <ul class="contacts">
        <li class="link-item">
          <a class="pin-alt" href="https://maps.app.goo.gl/4ZPST7ciEyExZkq8A" target="_blank">
            <span class="icon"></span>
            <span>8558 Green Rd.,&nbsp;&nbsp;LA</span>
          </a>
        </li>
        <li class="link-item">
          <a class='phone' href="tel:+1(603)555-0123">
            <span class="icon"></span>
            <span>+1 (603) 555-0123</span>
          </a>
        </li>
        <li class="link-item">
          <a class="clock" href="">
            <span class="icon"></span>
            <span>Mon-Sat: 9:00 AM – 23:00 PM</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
