<header class="s-header">
  <a class="logo" href="javascript:void(0);">
    <img class="ellipse" src="./assets/logo.png" alt="logo">
  </a>
  <div class="header-menu">
    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a href="#favorites-coffee">Favorite coffee
            <span class="cup-icon"></span>
          </a>
        </li>
        <li>
          <a href="#about">About
            <span class="cup-icon"></span>
          </a>
        </li>
        <li>
          <a href="#mobile-apps">Mobile app
            <span class="cup-icon"></span>
          </a>
        </li>
        <li>
          <a href="#contacts">Contact us
            <span class="cup-icon"></span>
          </a>
        </li>
      </ul>
    </nav>
    <a class="coffee-menu" href="javascript:void(0);">
      <span>Menu</span>
      <span class="icon"></span>
    </a>
  </div>
  <button class="burger-button">
    <span></span>
    <span></span>
  </button>
</header>
