.full-card {
  width: 800px;
}
.full-card .image {
  transition: background-image 0.3s ease, opacity 0.5s ease;
  opacity: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 100px;
}

html {
  scroll-behavior: smooth;
  position: relative;
}
html.no-scroll {
  scroll-behavior: auto;
}

body {
  position: static;
  margin: 0;
  height: 100%;
  background-color: rgb(225, 212, 201);
}
body.no-scroll {
  position: fixed;
  overflow: hidden;
}

.d-home {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  max-width: 1440px;
  width: 100%;
  padding: 20px 0 40px 0;
  gap: 20px;
  margin: 0 auto;
}
.d-home header, .d-home main, .d-home footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.d-home main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  z-index: 1;
}
.d-home main section {
  width: 100%;
}

.d-menu main {
  gap: 40px;
}

.d-home {
  position: relative;
}

button:focus-visible {
  outline: 2px solid #4a90e2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  margin: 0;
}

.header-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 60px;
  text-align: center;
  align-items: center;
  transition: transformX 0.5s ease;
}
@media (max-width: 768px) {
  .header-menu {
    display: none;
    opacity: 0;
  }
}

.burger-button {
  cursor: pointer;
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 44px;
  height: 44px;
  margin: 0;
  border: 1px solid rgb(102, 95, 85);
  background-color: rgb(225, 212, 201);
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 8px;
}
.burger-button span {
  display: inline-block;
  margin: 0 auto;
  height: 1px;
  width: 16px;
  background-color: rgb(102, 95, 85);
  transition: transform 0.5s ease;
}
.burger-button.active span:nth-child(1) {
  transform: rotate(45deg) translate(1.5px, 0.5px);
}
.burger-button.active span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 768px) {
  .burger-button {
    display: inline-flex;
    opacity: 1;
  }
}

aside {
  display: none;
  opacity: 0;
  position: absolute;
  top: 84px;
  width: 100%;
  transition: transform 0.7s ease;
  z-index: 3;
  gap: 100px;
  padding: 60px 16px;
  background-color: rgb(225, 212, 201);
  border-radius: 0;
}
aside.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
aside .nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}
aside .nav-list li {
  width: 100%;
  position: relative;
}
aside .nav-list li::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  bottom: -3px;
  height: 2px;
  background-color: rgb(64, 63, 61);
  transition: width 0.3s ease;
  z-index: 0;
}
aside .nav-list li:hover::after {
  width: 100%;
}
aside .nav-list a {
  margin: 0 auto;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
  width: fit-content;
}
aside .nav-list a .cup-icon {
  display: none;
}

nav {
  flex: 1;
}

.nav-list {
  display: flex;
  gap: 40px;
  width: fit-content;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.nav-list li {
  flex-wrap: nowrap;
  width: fit-content;
  white-space: nowrap;
  margin: 0;
  position: relative;
}
.nav-list li::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  bottom: -3px;
  height: 2px;
  background-color: rgb(64, 63, 61);
  transition: width 0.3s ease;
  z-index: 0;
}
.nav-list li:hover::after {
  width: 100%;
}
.nav-list a {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
  width: fit-content;
}
.nav-list a .cup-icon {
  display: none;
}

.coffee-menu {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  gap: 8px;
  background: rgb(225, 212, 201);
  position: relative;
}
.coffee-menu span:nth-child(1) {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.coffee-menu .icon {
  display: block;
  border-radius: 0;
  margin: 0;
  color: rgb(225, 212, 201);
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;
  mask-image: url("../assets/icon/ic_coffee-cup.svg");
  background-color: rgb(64, 63, 61);
}
.coffee-menu {
  position: relative;
}
.coffee-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  bottom: -3px;
  height: 2px;
  background-color: rgb(64, 63, 61);
  transition: width 0.3s ease;
  z-index: 0;
}
.coffee-menu:hover::after {
  width: 100%;
}

.home-page {
  display: none;
  gap: 100px;
  flex-direction: column;
  z-index: 1;
}
.home-page section {
  width: 100%;
}

.menu-page {
  display: none;
  gap: 40px;
  flex-direction: column;
  z-index: 1;
}
.menu-page section {
  width: 100%;
}

.menu-page.active {
  display: flex;
}

.home-page.active {
  display: flex;
}

#enjoy .enjoy-container {
  position: relative;
  border-radius: 0;
}
#enjoy .offer {
  display: flex;
  flex-direction: column;
  width: calc(50% - 100px);
  min-width: 530px;
  left: 100px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  align-content: start;
  row-gap: 40px;
  z-index: 1;
}
#enjoy .offer * {
  text-align: start;
}
@media (max-width: 768px) {
  #enjoy .offer {
    left: 60px;
    width: calc(100% - 120px);
  }
}
@media (max-width: 380px) {
  #enjoy .offer {
    left: 16px;
    min-width: 316px;
    width: calc(100% - 32px);
  }
}
#enjoy .offer h1 {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 72px;
  letter-spacing: 0px;
  line-height: 105%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
#enjoy .offer h1 .text-accent {
  color: rgb(176, 144, 122);
  font-style: italic;
}
@media (max-width: 380px) {
  #enjoy .offer h1 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 0px;
    line-height: 115%;
    font-style: normal;
    color: rgb(225, 212, 201);
  }
  #enjoy .offer h1 .text-accent {
    color: rgb(176, 144, 122);
    font-style: italic;
  }
}
#enjoy .offer p {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
#enjoy .offer .coffee-menu_button {
  display: inline-flex;
  cursor: pointer;
  flex-direction: row;
  gap: 8px;
  height: 64px;
  min-width: 200px;
  radius: 100px;
  padding: 20px 64px;
  column-gap: 8px;
  align-content: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  background-color: rgb(225, 212, 201);
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
#enjoy .offer .coffee-menu_button:hover {
  width: 200px;
}
#enjoy .offer .coffee-menu_button:hover .cup-icon {
  display: inline-block;
  opacity: 1;
}
#enjoy .offer .coffee-menu_button .cup-icon {
  display: none;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 20px;
  mask-image: url("../assets/icon/ic_coffee-cup.svg");
  background-color: rgb(64, 63, 61);
  opacity: 1;
  transition: opacity 0.5s ease;
}
#enjoy .offer .coffee-menu_button {
  margin: 0;
  border: none;
}
#enjoy .video-background {
  display: block;
  width: 100%;
  height: 644px;
  position: relative;
  object-fit: cover;
  border-radius: 40px;
  z-index: 0;
}
@media (max-width: 380px) {
  #enjoy .video-background {
    height: 552px;
  }
}

#favorites-coffee {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#favorites-coffee h2 {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: italic;
  color: rgb(64, 63, 61);
}
#favorites-coffee h2 .text-accent {
  color: rgb(176, 144, 122);
  font-style: italic;
}
@media (max-width: 380px) {
  #favorites-coffee h2 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 125%;
    font-style: italic;
    color: rgb(64, 63, 61);
  }
  #favorites-coffee h2 .text-accent {
    color: rgb(176, 144, 122);
    font-style: italic;
  }
}
#favorites-coffee .d-slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 640px;
}
#favorites-coffee .d-slider .arrow-button {
  display: inline-block;
  width: 60px;
  aspect-ratio: 1/1;
  align-self: center;
  border: 1px solid rgb(102, 95, 85);
  background-color: rgb(225, 212, 201);
}
#favorites-coffee .d-slider .arrow-button .icon {
  display: block;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px;
  mask-image: url();
  background-color: rgb(64, 63, 61);
}
#favorites-coffee .d-slider .arrow-button:nth-child(1) .icon {
  mask-image: url("../assets/icon/ic_arrow-left.svg");
}
#favorites-coffee .d-slider .arrow-button:nth-last-child(1) .icon {
  mask-image: url("../assets/icon/ic_arrow-right.svg");
}
@media (max-width: 380px) {
  #favorites-coffee .d-slider .arrow-button {
    display: none;
  }
}
#favorites-coffee .d-slider .arrow-button:hover {
  background-color: rgb(102, 95, 85);
}
#favorites-coffee .d-slider .arrow-button:hover .icon {
  background-color: rgb(225, 212, 201);
}

.slider {
  display: block;
  flex: 1;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  border-radius: 0;
}
.slider > * {
  border-radius: 0;
}
.slider .row-slider {
  display: inline-flex;
  width: 300%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  z-index: -1;
}
.slider .row-slider.shifting {
  transition: transform 0.5s ease-out;
}
.slider .row-slider .slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
}
.slider .row-slider .slide img {
  display: block;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1/1;
}
.slider .row-slider .slide .description {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  gap: 16px;
}
.slider .row-slider .slide .description h3 {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.slider .row-slider .slide .description p {
  text-align: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.slider .row-slider .slide .description .price-wrapper {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(64, 63, 61);
}

#about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
}
#about h2 {
  width: 101%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: italic;
  color: rgb(64, 63, 61);
}
#about h2 .text-accent {
  color: rgb(176, 144, 122);
  font-style: italic;
}
@media (max-width: 380px) {
  #about h2 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 125%;
    font-style: italic;
    color: rgb(64, 63, 61);
  }
  #about h2 .text-accent {
    color: rgb(176, 144, 122);
    font-style: italic;
  }
}
#about h2 {
  margin: 0;
}
#about h2 > * {
  margin: 0;
}
#about .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}
#about .images .column {
  width: calc(50% - 20px);
  min-width: 315.5px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 0;
}
@media (max-width: 768px) {
  #about .images .column {
    width: 100%;
  }
}
#about .images .column .about-img {
  overflow: hidden;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.5s ease;
}
#about .images .column .about-img:hover {
  background-size: 100%;
}
#about .images .column:nth-child(1) > .about-img:nth-child(1) {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-image: url("../assets/img/about-1.svg");
}
#about .images .column:nth-child(1) > .about-img:nth-child(2) {
  display: block;
  width: 100%;
  aspect-ratio: 66/43;
  border-radius: 20px;
  background-image: url("../assets/img/about-2.svg");
  transition: opacity 0.3s ease;
  opacity: 1;
}
@media (max-width: 768px) {
  #about .images .column:nth-child(1) > .about-img:nth-child(2) {
    display: none;
    opacity: 0;
  }
}
#about .images .column:nth-child(2) > .about-img:nth-child(1) {
  display: block;
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 66/43;
  background-image: url("../assets/img/about-3.svg");
  transition: opacity 0.3s ease;
  opacity: 1;
}
@media (max-width: 768px) {
  #about .images .column:nth-child(2) > .about-img:nth-child(1) {
    display: none;
    opacity: 0;
  }
}
#about .images .column:nth-child(2) > .about-img:nth-child(2) {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-image: url("../assets/img/about-4.svg");
}

.controls {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 12px;
  height: 4px;
}
.controls .control {
  height: 100%;
  width: 40px;
  background: linear-gradient(to right, rgb(102, 95, 85) 0%, rgb(102, 95, 85) 1%, rgb(193, 182, 173) 1%, rgb(193, 182, 173) 100%);
  transition: background 0.5s ease;
}
.controls .control:hover {
  background-color: rgb(102, 95, 85);
}

#mobile-apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}
#mobile-apps .offer {
  display: flex;
  flex-direction: column;
  width: calc(50% - 50px);
  min-width: 530px;
  height: fit-content;
  justify-content: start;
  align-content: flex-start;
  gap: 40px;
}
#mobile-apps .offer h2 {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
#mobile-apps .offer h2 .text-accent {
  color: rgb(176, 144, 122);
  font-style: normal;
}
@media (max-width: 380px) {
  #mobile-apps .offer h2 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 125%;
    font-style: normal;
    color: rgb(64, 63, 61);
  }
  #mobile-apps .offer h2 .text-accent {
    color: rgb(176, 144, 122);
    font-style: normal;
  }
}
#mobile-apps .offer h2 {
  margin: 0 auto 0 0;
}
#mobile-apps .offer p {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
#mobile-apps .offer .buttons {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
}
#mobile-apps .offer .buttons button {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  width: fit-content;
  white-space: nowrap;
  border: 1px solid rgb(102, 95, 85);
  gap: 8px;
  padding: 12px 20px;
  margin: 0;
  background-color: rgb(225, 212, 201);
}
#mobile-apps .offer .buttons button .icon {
  width: 36px;
  height: 36px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 36px;
  mask-image: url();
  background-color: rgb(64, 63, 61);
  border-radius: 0;
}
#mobile-apps .offer .buttons button.apple-button .icon {
  mask-image: url("../assets/icon/ic_apple_stor.svg");
}
#mobile-apps .offer .buttons button.android-button .icon {
  mask-image: url("../assets/icon/stor.svg");
}
#mobile-apps .offer .buttons button .text {
  display: inline-flex;
  flex-direction: column;
}
#mobile-apps .offer .buttons button .text > .p {
  display: inline-block;
  white-space: nowrap;
  text-align: start;
  margin: 0;
}
#mobile-apps .offer .buttons button .text > .p:nth-child(1) {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 140%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
#mobile-apps .offer .buttons button .text > .p:nth-child(2) {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
#mobile-apps .offer .buttons button:hover {
  background-color: rgb(102, 95, 85);
}
#mobile-apps .offer .buttons button:hover .text > .p {
  color: rgb(225, 212, 201);
}
#mobile-apps .offer .buttons button:hover {
  border-color: transparent;
}
#mobile-apps .offer .buttons button:hover .icon {
  background-color: rgb(225, 212, 201);
}
#mobile-apps .mobile-screens {
  display: block;
  flex-wrap: wrap;
  width: calc(50% - 50px);
  aspect-ratio: 1/1;
  border-radius: 0;
}

.footer-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin-top: 80px;
  padding: 100px;
  gap: 100px;
  flex-wrap: wrap;
  background-color: rgb(102, 95, 85);
  border-radius: 40px;
}
.footer-container {
  padding: 100px 60px;
}
.footer-container .footer-box {
  display: flex;
  flex-direction: column;
  width: calc(50% - 50px);
  min-width: 530px;
  gap: 40px;
  justify-content: start;
  align-content: statr;
  margin: 0;
}
@media (max-width: 768px) {
  .footer-container .footer-box {
    width: 100%;
  }
}
.footer-container h2 {
  margin: 0;
  width: 100%;
  border-radius: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: italic;
  color: rgb(225, 212, 201);
}
.footer-container h2 .text-accent {
  color: rgb(176, 144, 122);
  font-style: italic;
}
@media (max-width: 380px) {
  .footer-container h2 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 125%;
    font-style: normal;
    color: rgb(225, 212, 201);
  }
  .footer-container h2 .text-accent {
    color: rgb(176, 144, 122);
    font-style: italic;
  }
}
.footer-container h3 {
  display: inline-block;
  margin: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
.footer-container .socials {
  display: inline-flex;
  flex-direction: row;
  gap: 12px;
  width: fit-content;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.footer-container .socials li {
  display: inline-block;
  height: 60px;
  white-space: nowrap;
  aspect-ratio: 1/1;
  border: 1px solid rgb(193, 182, 173);
  justify-content: center;
  align-content: center;
}
.footer-container .socials li a {
  display: inline-block;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.footer-container .socials li a .icon {
  display: block;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px;
  mask-image: url();
  background-color: rgb(225, 212, 201);
}
.footer-container .socials li.twitter-link .icon {
  mask-image: url("../assets/icon/ic_twitter.svg");
}
.footer-container .socials li.instagram-link .icon {
  mask-image: url("../assets/icon/ic_instagram.svg");
}
.footer-container .socials li.facebook-link .icon {
  mask-image: url("../assets/icon/ic_facebook.svg");
}
.footer-container .socials li:hover {
  border-color: transparent;
  background-color: rgb(225, 212, 201);
}
.footer-container .socials li:hover a .icon {
  background-color: rgb(64, 63, 61);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.contacts li {
  display: inline-block;
  align-content: start;
  margin: 0;
}
.contacts a {
  display: inline-flex;
  gap: 8px;
  width: fit-content;
  margin: 0;
  cursor: pointer;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
.contacts a .icon {
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;
  mask-image: url();
  background-color: rgb(225, 212, 201);
}
.contacts a.pin-alt .icon {
  mask-image: url("../assets/icon/ic_pin-alt.svg");
}
.contacts a.phone .icon {
  mask-image: url("../assets/icon/ic_phone.svg");
}
.contacts a.clock .icon {
  mask-image: url("../assets/icon/ic_clock.svg");
}
.contacts a {
  position: relative;
}
.contacts a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  bottom: -3px;
  height: 2px;
  background-color: rgb(225, 212, 201);
  transition: width 0.3s ease;
  z-index: 0;
}
.contacts a:hover::after {
  width: 100%;
}

#offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#offer h2 {
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: italic;
  color: rgb(64, 63, 61);
}
#offer h2 .text-accent {
  color: rgb(176, 144, 122);
  font-style: italic;
}
@media (max-width: 380px) {
  #offer h2 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 125%;
    font-style: italic;
    color: rgb(64, 63, 61);
  }
  #offer h2 .text-accent {
    color: rgb(176, 144, 122);
    font-style: italic;
  }
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.radio-container .menu-radio-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 8px;
  width: fit-content;
  position: relative;
  background-color: rgb(225, 212, 201);
  border: 1px solid rgb(193, 182, 173);
  transition: background 0.5s ease-out;
}
.radio-container .menu-radio-label span {
  text-align: center;
  align-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.radio-container .menu-radio-label .custom-radio {
  position: absolute;
  display: block;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: rgb(193, 182, 173);
  align-content: center;
  transition: background 0.3s ease-out;
}
.radio-container .menu-radio-label input {
  width: 29px;
  height: 29px;
  color: transparent;
}
.radio-container .menu-radio-label input:checked ~ span {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
.radio-container .menu-radio-label input:checked ~ .custom-radio {
  background: rgb(225, 212, 201);
}
.radio-container .menu-radio-label:has(input:checked) {
  background-color: rgb(102, 95, 85);
  border-color: transparent;
  color: transparent;
}

.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.menu-list .menu-list_item {
  min-width: 312px;
  border: 1px solid rgb(193, 182, 173);
  border-radius: 40px;
  border-sizing: border-box;
  height: 506px;
  width: calc(25% - 30px);
}
.menu-list .menu-list_item .image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  background-image: url("../assets/img/about-1.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  overflow: hidden;
  transition: background-size 0.5s ease;
}
.menu-list .menu-list_item .image:hover {
  background-size: 100%;
}
.menu-list .menu-list_item .description {
  padding: 19px;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: 196px;
  gap: 12px;
  border-radius: 0;
}
.menu-list .menu-list_item .description h3 {
  text-align: start;
  margin: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.menu-list .menu-list_item .description p {
  text-align: start;
  margin: 0;
  border-radius: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.menu-list .menu-list_item .description .price-wrapper {
  flex: 1;
  margin: 0;
  text-align: start;
  align-content: end;
  border-radius: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.menu-list .menu-list_progress {
  display: none;
  width: 100%;
  align-items: center;
  text-align: center;
  opacity: 0;
}
.menu-list .menu-list_progress .progress-menu-list {
  width: 60px;
  aspect-ratio: 1/1;
  border: 1px solid rgb(102, 95, 85);
  background-color: rgb(225, 212, 201);
}
.menu-list .menu-list_progress .progress-menu-list .icon {
  display: block;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px;
  mask-image: url("../assets/icon/ic_refresh.svg");
  background-color: rgb(64, 63, 61);
}
.menu-list .menu-list_progress.active {
  opacity: 1;
  transition: opacity 0.3s ease;
  display: block;
}

.menu-list_

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  align-content: center;
  text-align: start;
}
.modal .modal_overlay {
  height: 100%;
  border-radius: 0;
  background-color: rgba(182, 174, 167, 0.4);
}
.modal .full-card {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: start;
  transform: translate(-50%, -50%);
  background-color: rgb(225, 212, 201);
  color: rgb(64, 63, 61);
  width: 800px;
  padding: 16px;
  border-radius: 40px;
  max-width: calc(100% - 80px);
  opacity: 0;
  transition: opacity 0.7s ease-out;
}
.modal .image {
  display: inline-block;
  height: 310px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  opacity: 1;
}
.modal .description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  justify-content: start;
  overflow: hidden;
  border-radius: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.modal .description h3 {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  font-style: normal;
  color: rgb(64, 63, 61);
  border-radius: 0;
  margin: 0;
}
.modal .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
}
.modal .inputs-container p {
  margin: 0;
}
.modal .inputs-container ul {
  margin: 0;
}
.modal .cart-radio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  border-radius: 0;
}
.modal .cart-radio-container .radio-item {
  margin: 0;
}
.modal .cart-radio-container .cart-radio-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 8px;
  width: fit-content;
  position: relative;
  background-color: rgb(225, 212, 201);
  border: 1px solid rgb(193, 182, 173);
  transition: background 0.5s ease-out;
}
.modal .cart-radio-container .cart-radio-label span {
  text-align: center;
  align-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.modal .cart-radio-container .cart-radio-label .custom-radio {
  position: absolute;
  display: block;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: rgb(193, 182, 173);
  align-content: center;
  text-transform: uppercase;
}
.modal .cart-radio-container .cart-radio-label input {
  width: 29px;
  height: 29px;
  color: transparent;
}
.modal .cart-radio-container .cart-radio-label input:checked ~ .text-label {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
.modal .cart-radio-container .cart-radio-label input:checked ~ .custom-radio {
  background: rgb(225, 212, 201);
}
.modal .cart-radio-container .cart-radio-label:has(input:checked) {
  background-color: rgb(102, 95, 85);
}
.modal .cart-checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  flex-wrap: wrap;
}
.modal .cart-checkbox-container .checkbox-item {
  margin: 0;
}
.modal .cart-checkbox-container .cart-checkbox-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 8px;
  width: fit-content;
  position: relative;
  background-color: rgb(225, 212, 201);
  border: 1px solid rgb(193, 182, 173);
  transition: background 0.5s ease-out;
}
.modal .cart-checkbox-container .cart-checkbox-label span {
  text-align: center;
  align-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.modal .cart-checkbox-container .cart-checkbox-label .custom-checkbox {
  position: absolute;
  display: block;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: rgb(193, 182, 173);
  align-content: center;
  transition: all 0.3s ease;
}
.modal .cart-checkbox-container .cart-checkbox-label input {
  width: 29px;
  height: 29px;
  color: transparent;
  opacity: 0;
}
.modal .cart-checkbox-container .cart-checkbox-label input:checked ~ .text-label {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(225, 212, 201);
}
.modal .cart-checkbox-container .cart-checkbox-label input:checked ~ .custom-checkbox {
  background: rgb(225, 212, 201);
}
.modal .cart-checkbox-container .cart-checkbox-label:has(input:checked) {
  background-color: rgb(102, 95, 85);
}
.modal .info-text {
  flex: 1;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 140%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.modal .info-icon {
  display: block;
  border-radius: 0;
  width: 16px;
  height: 16px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 16px;
  mask-image: url("../assets/icon/ic_info-empty.svg");
  background-color: rgb(64, 63, 61);
}
.modal .info-container {
  padding: 12px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
  border-top: 1px solid rgb(193, 182, 173);
  border-radius: 0;
}
.modal .cart-form-button {
  width: 100%;
  display: inline-flex;
  cursor: pointer;
  flex-direction: row;
  gap: 8px;
  padding: 10px 78px;
  align-content: center;
  justify-content: center;
  transition: background 0.5s ease;
  background-color: rgb(225, 212, 201);
  border: 1px solid rgb(102, 95, 85);
  min-width: 200px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color: rgb(64, 63, 61);
}
.modal .cart-form-button:hover {
  background-color: rgb(102, 95, 85);
  color: rgb(225, 212, 201);
  border: none;
}
.modal .price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.modal .price-wrapper p {
  flex: 1;
  flex-wrap: nowrap;
  margin: 0;
}
.modal .price-wrapper span {
  width: fit-content;
  margin: 0;
}
.modal.active {
  display: block;
}
.modal.active .full-card {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
